<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="./css/registerStyle.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="logo">
		<img src="./images/logo.png" alt="logo">
	</div>
    <form action="/registerNewsLetter" method="POST" class="register">
        <legend>Sign Up</legend>
            <label for="email">Email</label><br><br>
            <input type="email" name="email" id="email" placeholder="foo@bar.com" required="true"><br><br>
            <button type='submit' style="font-size: 20px">Sign up</button>
            <strong><span>Already have an account ? <a href="login" style="color: white">Log in</a></span></strong>
    </form>
</body>
</html>